@inject Microsoft.Extensions.PlatformAbstractions.IApplicationEnvironment appEnv
<!DOCTYPE html>
<html>
<head>
    <title>TypeScript Module loading with RequireJS</title>
     <script type="text/javascript" src="@Url.Content("~/lib/requirejs/require.js")"></script>
     <script type="text/javascript">
   require.config({
    baseUrl: '@Url.Content("~/scripts/app")',
    paths: {
        "jquery": "../../lib/jquery/jquery",
        "knockout": "../../lib/knockout/knockout-latest"
    },
    shim: {}
});
// load AMD module main.ts (compiled to main.js)
require(['main'], function (main) {
    var app = new main();
});
</script>

</head>
<body>
    <h1>Setup project</h1>
    <table>
    <tr>
            <td data-bind="text: firstName"></td>
            <td data-bind="text: lastName"></td>
            <td data-bind="text: age"></td>
            </tr>
     </table>
</body>
</html>