<!DOCTYPE html>
<html>
<head>
    <title>TypeScript Module loading with RequireJS</title>
    <script data-main="scripts/app/configSite2.js" type="text/javascript" src="~/lib/requirejs/require.js"></script>
</head>
<body>
    <h1>Site 2</h1>
    <table>
    <tr>
            <td data-bind="text: firstName"></td>
            <td data-bind="text: lastName"></td>
            <td data-bind="text: age"></td>
            </tr>
     </table>
</body>
</html>